.modal0 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 7000;
  transition: all 0.7s;
}

.close0 {
  position: absolute;
  top: 30px;
  right: 400px;
  color: #fff;
  font-size: 4em;
  cursor: pointer;
}

.modal-content0 {
  width: 70%;
  margin: auto;
  overflow: hidden;
}

.modal-content0 img {
  width: 1000px;
  height: 600px;
  margin-top: 10%;
}

.modal0 p {
  font-size: 1.2em;
  color: #fff;
  letter-spacing: 3px;
  background: #000;
  text-align: center;
  width: 500px;
  margin: 10px auto;
  padding: 0.5em;
}

.reveal {
  transform: translate3d(0, 0, 0);
  z-index: 7000;
}

.modal1 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 7000;
  transition: all 2s;
}

.close1 {
  position: absolute;
  top: 30px;
  right: 400px;
  color: #fff;
  font-size: 4em;
  cursor: pointer;
}

.modal-content1 {
  width: 70%;
  margin: auto;
  overflow: hidden;
}

.modal-content1 img {
  width: 1000px;
  height: 600px;
  margin-top: 10%;
}

.modal1 p {
  font-size: 1.2em;
  color: #fff;
  letter-spacing: 3px;
  background: #000;
  text-align: center;
  width: 500px;
  margin: 10px auto;
  padding: 0.5em;
}
.modal2 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 7000;
  transition: all 0.7s;
}

.close2 {
  position: absolute;
  top: 30px;
  right: 400px;
  color: #fff;
  font-size: 4em;
  cursor: pointer;
}

.modal-content2 {
  width: 70%;
  margin: auto;
  overflow: hidden;
}

.modal-content2 img {
  width: 1000px;
  height: 600px;
  margin-top: 10%;
}

.modal2 p {
  font-size: 1.2em;
  color: #fff;
  letter-spacing: 3px;
  background: #000;
  text-align: center;
  width: 500px;
  margin: 10px auto;
  padding: 0.5em;
}

.modal3 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 7000;
  transition: all 0.7s;
}

.close3 {
  position: absolute;
  top: 30px;
  right: 400px;
  color: #fff;
  font-size: 4em;
  cursor: pointer;
}

.modal-content3 {
  width: 50%;
  margin: auto;
  overflow: hidden;
}

.modal-content3 img {
  width: 1000px;
  height: 600px;
  margin-top: 20%;
}

.modal3 p {
  font-size: 1.2em;
  color: #fff;
  letter-spacing: 3px;
  background: #000;
  text-align: center;
  width: 500px;
  margin: 10px auto;
  padding: 0.5em;
}

.modal4 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 7000;
  transition: all 0.7s;
}

.close4 {
  position: absolute;
  top: 30px;
  right: 400px;
  color: #fff;
  font-size: 4em;
  cursor: pointer;
}

.modal-content4 {
  width: 50%;
  margin: auto;
  overflow: hidden;
}

.modal-content4 img {
  width: 1000px;
  height: 600px;
  margin-top: 20%;
}

.modal4 p {
  font-size: 1.2em;
  color: #fff;
  letter-spacing: 3px;
  background: #000;
  text-align: center;
  width: 500px;
  margin: 10px auto;
  padding: 0.5em;
}
