$primary-color: #fff;
$secondary-color: #000;
$show-home-image: true;

@mixin background {
  @if $show-home-image {
    &#landing {
      background: url('../img/bay.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      &::after {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba($color: $secondary-color, $alpha: 0.5);
      }
    }
  }
}

@mixin background2 {
  @if $show-home-image {
    &.about {
      background: url('../img/headshot.jpg') 0 -300px;
      background-size: cover;
      background-repeat: no-repeat;

      &:after {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba($color: $secondary-color, $alpha: 0.5);
      }
    }
  }
}

body {
  line-height: 1.5;
  padding: 0%;
  margin: 0;
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: $primary-color;
}

//LANDING HOME PAGE

#landing {
  @include background;
  min-height: 100vh;
  overflow: hidden;

  .main-nav {
    padding: 0;
    margin: 0;
    text-align: left;
    margin-top: 30px;
    min-height: 70px;
    display: grid;
    align-items: center;
    z-index: 1000;
    .nav-list {
      list-style: none;
      padding: 0;
      margin: 0;
      margin-left: 50px;

      .nav-item {
        display: inline-block;

        .nav-link {
          color: rgba($color: #000, $alpha: 0.7);
          text-decoration: none;
          padding: 1em;
          transition: all 0.5s;
        }

        .nav-link:hover {
          color: rgba($color: #000, $alpha: 1);
          background: rgba($color: #fff, $alpha: 0.3);
        }
      }
    }
  }

  .grid-home {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-auto-rows: 80vh;
    z-index: 1000;

    .grid-wrapper {
      color: $secondary-color;

      h1 {
        font-size: 2.5em;
        letter-spacing: 5px;
        line-height: 1;
      }

      p {
        font-size: 1.5em;
        letter-spacing: 3px;
      }
    }
  }
}
//END LANDING HOME PAGE

//ABOUT ME
.test {
  position: relative;
  @include background2;
}
.about-container::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba($color: $primary-color, $alpha: 0.6);
}
.about {
  @include background2;
  border-top: 2px solid $primary-color;
  padding: 3em;
  text-align: center;
  color: $primary-color;
  min-height: 400px;
  display: grid;
  justify-content: center;
  align-items: center;
  color: $secondary-color;
  position: relative;
}

//END ABOUT ME
