//VARIABLES AND MIXINS
$primary-color: #fff;
$secondary-color: #000;
$show-home-image: true;
$opacity: 0.6;

@mixin background {
  @if $show-home-image {
    &#landing {
      background: url('../img/bay.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      //PUT BACKGROUND ATTATCHMENT FIXED TO RESOLVE THE SCROLL STUTTER ISSUEs
      background-attachment: fixed;
    }
  }
}

@mixin background2 {
  @if $show-home-image {
    &#about {
      background: url('../img/headshot.jpg') 0 -300px;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

@mixin animationEase {
  transition: all 0.3s;
}
//END VARIABLES AND MIXINS

//GLOBAL
* {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  padding: 0%;
  margin: 0;
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: $primary-color;
  overflow-x: hidden;
  @include animationEase();
}

.container {
  width: 70%;
  margin: auto;
  overflow: hidden;
}

//END GLOBAL

//LANDING HOME PAGE

#landing {
  @include background;
  min-height: 100vh;
  overflow: hidden;
  position: relative;

  .main-nav {
    @include animationEase();
    padding: 0;
    margin-top: 0;
    text-align: left;
    min-height: 70px;
    display: grid;
    align-items: center;
    z-index: 1000;
    .nav-list {
      list-style: none;
      padding: 0;
      margin: 0;
      margin-left: 50px;

      .nav-item {
        display: inline-block;

        .nav-link {
          color: rgba($color: #000, $alpha: 0.7);
          text-decoration: none;
          padding: 1em;
          @include animationEase();
        }

        .nav-link:hover {
          color: rgba($color: #000, $alpha: 1);
          background: rgba($color: #fff, $alpha: 0.3);
        }

        .resize nav .nav-item .nav-link:hover {
          background: none;
        }
      }
    }
  }

  .grid-home {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-auto-rows: 80vh;
    z-index: 1000;

    .grid-wrapper {
      color: $primary-color;

      h1 {
        font-size: 2.5em;
        letter-spacing: 5px;
        line-height: 0.3;
      }

      p {
        font-size: 1.5em;
        letter-spacing: 3px;
      }
    }
  }
}
//END LANDING HOME PAGE

//ABOUT ME
// #about::after {
//   content: '';
//   position: absolute;
//   top: 0;
//   right: 0;
//   width: 100%;
//   height: 100%;
//   z-index: 1;
//   background: rgba($color: $secondary-color, $alpha: $opacity);
// }

#about > * {
  z-index: 100;
}

#about {
  border-top: 2px solid $primary-color;
  padding: 3em;
  text-align: center;
  color: $primary-color;
  min-height: 400px;
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
  background: lighten($color: $secondary-color, $amount: 20);

  &-me-container {
    opacity: 100%;
    position: relative;

    h1 {
      line-height: 1.2;
      letter-spacing: 3px;
    }
  }
}
//END ABOUT ME

//PHOTOGRAPHY
#photography {
  padding: 2em;
  min-height: 500px;

  .photo-header {
    text-align: center;
    margin-bottom: 30px;

    h1 {
      line-height: 1.2;
      letter-spacing: 5px;
    }

    p {
      font-size: 1.2em;
    }
  }

  .photo-body {
    width: 60%;
    margin: auto;

    .photo-body-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      text-align: center;
      grid-gap: 1em;

      .box {
        width: 300px;
        height: 300px;

        .box-header img {
          margin: 0;
          padding: 0;
          border: 1px solid $primary-color;
          @include animationEase();

          &:hover {
            opacity: $opacity;
            border: 1px solid $secondary-color;
            cursor: pointer;
          }
        }

        .box-img-caption {
          background: lighten($secondary-color, 20);
          color: $primary-color;
          padding: 0;
          letter-spacing: 0.2em;
          overflow: hidden;
          display: grid;
          justify-content: center;
          align-items: center;

          p {
            margin: 0;
            padding: 0.2em;
          }
        }
      }
    }
  }
}
//END PHOTOGRAPHY

//WEB DEVELOPMENT
#web-development {
  padding: 1em;
  background: lighten($secondary-color, 20);
  color: $primary-color;
  margin-top: 50px;
  border-top: 2px solid $secondary-color;
  min-height: 700px;

  .web-development-header {
    text-align: center;
    margin: 30px 0 30px 0;
    padding: 1em;

    h1 {
      line-height: 1.2;
      letter-spacing: 3px;
    }

    p {
      font-size: 1.2em;
    }
  }

  .web-development-body {
    width: 80%;
    margin: auto;
    .web-dev-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .box {
        width: 700px;
        height: 400px;
        .box-header img {
          border: 1px solid lighten($secondary-color, 20);
          @include animationEase();

          &:hover {
            border: 1px solid $primary-color;
            opacity: $opacity;
          }
        }

        .img-caption {
          background: lighten($primary-color, 5);
          color: $secondary-color;
          padding: 0;
          letter-spacing: 0.2em;
          overflow: hidden;
          display: grid;
          justify-content: center;
          align-items: center;

          p {
            padding: 0.2em;
            margin: 0;
            font-weight: 500;
          }
        }
      }
    }
  }
}
//END WEB DEVELOPMENT

//CONTACT
#contact {
  min-height: 600px;

  .contact-header {
    text-align: center;
    margin: 30px 0 0 0;
    padding: 1em;

    h1 {
      line-height: 1.2;
      letter-spacing: 3px;
    }

    p {
      font-size: 1.2em;
    }
  }

  .contact-grid {
    text-align: center;
    margin-bottom: 0;

    form {
      .btn {
        width: 100%;
        border: none;
        background: lighten($color: $secondary-color, $amount: 20);
        padding: 0.5em;
        display: block;
        font-size: 1em;
        color: $primary-color;
        @include animationEase();

        &:hover {
          background: lighten($color: $secondary-color, $amount: 40);
          cursor: pointer;
        }
      }

      padding: 2em;

      label {
        display: block;
        font-weight: 900;
        text-align: left;
        font-size: 1.5em;
        letter-spacing: 3px;
        padding: 0.5em;
      }

      input {
        width: 100%;
        height: 40px;
        padding: 0.5em;
        font-size: 2em;
      }

      textarea {
        width: 100%;
        height: 70px;
        padding: 0.5em;
        font-size: 1.5em;
      }
    }
  }
}
//END CONTACT

//FOOTER
footer {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3px;
  grid-auto-rows: 100%;
  background: lighten($secondary-color, 20);
  border-top: 3px solid $secondary-color;

  p {
    font-weight: 700;
    color: $primary-color;
  }
}
//END FOOTER

//JAVASCRIPT RELATED, LIKE STICKY NAV ON SCROLL
.resize nav {
  position: fixed;
  background: $primary-color;
  min-width: 100%;
  min-height: 120px;
}
//END JAVASCRIPT RELATED, LIKE STICKY NAV ON SCROLL

//Media Query Mixins

@media screen and (max-width: 500px) {
  /*LANDING*/
  #landing .grid-home .grid-wrapper .main {
    font-size: 0.9em;
    padding: 0 40px 0 40px;
  }
  #landing .grid-home .grid-wrapper .main-sub {
    font-size: 0.9em;
    padding: 0 40px 0 40px;
  }
  #landing#landing {
    background: url('../img/bay.jpg') -200px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  /*END LANDING*/

  /*END LANDING*/
  /*WEB DEVELOPMENT*/
  #web-development {
    min-height: 950px;
  }

  #web-development .web-development-body .web-dev-grid .box {
    max-width: 300px;
    max-height: 300px;
  }
  #web-development .web-development-body .web-dev-grid .box .box-header img {
    max-width: 300px;
    max-height: 300px;
  }

  #web-development .web-development-body .web-dev-grid .box .img-caption p {
    padding-left: 3.5px;
    text-align: center;
  }

  #web-development .web-development-body {
    width: 100%;
    margin: 0;
  }
  /*END WEB DEVELOPMENT*/
  /*PHOTOGRAPHY*/
  #photography .photo-body {
    width: 100%;
  }
  /*END PHOTOGRAPHY*/
}

@media only screen and (max-width: 768px) {
  /*NAV*/
  #landing .main-nav {
    display: none;
  }
  /*END NAV*/
  /*LANDING*/
  #landing .grid-home .grid-wrapper .main {
    line-height: 1.6;
  }
  /*END LANDING*/
  /*PHOTOGRAPHY*/
  #photography .photo-body .photo-body-grid .box {
    margin: 30px auto 30px auto;
    width: 250px;
    height: 200px;
  }

  #photography .photo-body .photo-body-grid .box .box-header img {
    width: 250px;
    height: 200px;
  }

  #photography .photo-body .photo-body-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  /*END PHOTOGRAPHY*/

  /*ABOUT SECTION*/

  /*END ABOUT SECTION*/

  /*WEB DEVELOPMENT*/
  #web-development .web-development-body .web-dev-grid .box {
    width: 400px;
    height: 200px;
  }
  #web-development .web-development-body .web-dev-grid .box .box-header img {
    width: 400px;
    height: 200px;
  }
  /*END WEB DEVELOPMENT*/
  /*LANDING*/
  #landing .grid-home .grid-wrapper h1,
  #landing .grid-home .grid-wrapper p {
    color: #000;
    text-align: center;
    padding: 0 0.5em 0 0.5em;
  }
  /*END LANDING*/
}

@media only screen and (min-width: 769px) and (max-width: 1170px) {
  /*LANDING*/
  #landing .grid-home .grid-wrapper h1,
  #landing .grid-home .grid-wrapper p {
    color: #000;
    text-align: center;
  }
  /*END LANDING*/
  /*PHOTOGRAPHY SECTION*/
  #photography .photo-body .photo-body-grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  #photography .photo-body .photo-body-grid .box img {
    width: 450px;
    height: 400px;
  }

  #photography .photo-body .photo-body-grid .box .box-img-caption {
    width: 450px;
  }

  #photography .photo-body .photo-body-grid .box {
    margin-bottom: 150px;
    margin-left: 70px;
  }

  /*END PHOTOGRAPHY SECTION*/
  /*ABOUT SECTION*/

  /*END ABOUT SECTION*/
  /*WEB DEVELOPMENT*/
  #web-development .web-development-body .web-dev-grid .box {
    width: 500px;
    height: 300px;
  }
  #web-development .web-development-body .web-dev-grid .box .box-header img {
    width: 500px;
    height: 300px;
  }

  /*END WEB DEVELOPMENT*/
}

@media screen and (max-width: 1171px) {
  /*WEB DEVELOPMENT */
  #web-development .web-development-body .web-dev-grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  #web-development .web-development-body .web-dev-grid .box {
    margin: 0 auto 70px auto;
  }
  /*END WEB DEVELOPMENT*/
  /*LANDING*/
  #landing .grid-home .grid-wrapper h1 {
    font-size: 2.5em;
    color: #fff;
    letter-spacing: 5px;
    line-height: 0.3;
  }
  #landing .grid-home .grid-wrapper p {
    font-size: 1.5em;
    letter-spacing: 3px;
    color: #fff;
  }
  /*END LANDING*/
}
